<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>大学生就业助手后台- 管理页面</title>
<meta http-equiv=Content-Type content=text/html;charset=gb2312>
</head>
<frameset rows="57,*" frameborder="no" border="0" framespacing="0">
	<frame src="http://localhost:8080/top" noresize="noresize" frameborder="no"
		name="topFrame" scrolling="no" marginwidth="0" marginheight="0"
		target="main" />
	<frameset cols="200,*" rows="100%,*" id="frame">
		<frame src="http://localhost:8080/left" name="leftFrame" noresize="noresize"
			marginwidth="0" marginheight="0" frameborder="0" scrolling="no"
			target="main" />
		<frame src="http://localhost:8080/right" name="main" marginwidth="0" marginheight="0"
			frameborder="0" scrolling="auto" target="_self" />
	</frameset>
	<noframes>
		<body></body>
	</noframes>
	</frameset>
</html>
