<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
<meta charset="UTF-8">
<title>修改试题信息</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
    //验证用户名和密码是否为空
    function updateExe() {
    var uploadFormObj = document.getElementById("exerciseForm");
            uploadFormObj.submit();
    }
</script>
</head>
<body>
    <div id="pageAll">
        <div class="page ">
            <!-- 添加试题页面样式 -->
            <div class="banneradd bor" style="border: 0;">
                <div class="baTopNo">
                    <span>修改试题信息</span>
                </div>
                <div class="baBody">
                   <form id="exerciseForm" action="updateExercise" method="post">
                   <input type="hidden" name="exercise_id" id="exercise_id" th:if="${EXERCISE != null}" th:value="${EXERCISE.exercise_id}">
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                        题目：<input id="exercise_name" type="text" class="input3" name="exercise_name" disabled="disabled"
                       style="background: border-box;width: 100%;" th:if="${EXERCISE != null}" th:value="${EXERCISE.exercise_name}"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                        答&nbsp;&nbsp;&nbsp;案：<input id="exercise_answer" type="text" class="input3" name="exercise_answer" 
                        th:if="${EXERCISE != null}" th:value="${EXERCISE.exercise_answer}"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                        选项一：<input id="choice1" type="text" class="input3" name="choice1"
                        th:if="${EXERCISE != null}" th:value="${EXERCISE.choice1}"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                        选项二：<input id="choice2" type="text" class="input3" name="choice2"
                        th:if="${EXERCISE != null}" th:value="${EXERCISE.choice2}"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                         选项三：<input id="choice3" type="text" class="input3" name="choice3"
                        th:if="${EXERCISE != null}" th:value="${EXERCISE.choice3}"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;
                        选项四：<input id="choice4" type="text" class="input3" name="choice4"
                        th:if="${EXERCISE != null}" th:value="${EXERCISE.choice4}"/>
                    </div>
                    <div class="bbD">
                        <p class="bbDP">
                            <input type="button" class="btn_ok btn_yes" onclick="updateExe()" value="提交">
                            <input type="reset" class="btn_ok btn_no" value="重置">
                        </p>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>







