<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
<title>添加技巧</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="plugin/wangEditor/css/wangEditor.min.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<input id="userId" type="hidden" th:if="${session.USER != null}" th:value="${session.USER.id}">
<input id="pid" type="hidden" th:if="${PID != null}" th:value="${PID}">
<!--导航条-->
<nav class="breadcrumb">
 <label style="font-size: 18px;margin-left: 40px;">添加面试技巧</label>
</nav>
<section class="container pt-20">	
	<div class="row w_main_row">				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body">
							        <!--用于评论-->
							        <div class="mt-20" id="ct">
                  <input id="skill_title" style="margin-bottom: 30px;width: 360px;height: 26px;"
                     placeholder="标题" type="text" name="skill_title">
							            <textarea id="textarea1" name="skill_content" style="height:200px;"> </textarea>
							            <div class="text-r mt-10">
							                <button onclick="submitSkill()" class="btn btn-primary radius" > 添加</button>
							            </div>
							        </div>
							        <div class="line"></div>
						</div>
					</div>
				</div>
				
			</div>	
</section>
<script type="text/javascript" src="plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="plugin/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
    		$("img.lazyload").lazyload({failurelimit : 3});
    	
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '表情', data: 'plugin/wangEditor/emotions1.data'}, 'default2': { title: '心情', data: 'plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}};
        editor1.create();

        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });
    $(function() {
        $('#showComment').on('click', '#reply', function() {//动态添加元素的click事件
        pId = $(this).attr("name");
        $(this).parents(".commentList").find(".cancelReply").trigger("click");
        $(this).parent(".comment-body").append($(".comment").clone(true));
        $(this).parent(".comment-body").find(".comment").removeClass("hidden");
        $(this).hide();
        });
    });
    function submitSkill() {
        var Skill = {};
        Skill["skill_title"] = $("#skill_title").val();
        Skill["skill_content"] = $("#textarea1").val();
        $.ajax({
            type: "POST",
            url: "/insertSkill",
            data: Skill,
            dataType: "json",
            success : function(data){
                if (data.type == 1) {
                alert("添加成功");
                $("#skill_title").val("");
                $("#textarea1").val("");
                window.location.reload();
                }   
                else
                    alert("添加失败");
            },
            error : function(){
                alert("请求失败");
            }
        });
    }
</script>
</body>
</html>
