<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
<title>帖子详情</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="plugin/wangEditor/css/wangEditor.min.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/loadAnswerme.js"></script>
</head>
<body>
<input id="uid" type="hidden" th:if="${ID != null}" th:value="${ID}">
<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="talk" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  
  <span class="c-gray">回复我的</span>
  <span id="title" class="c-gray"></span></div>
</nav>
<section class="container pt-20">	
	<div class="row w_main_row">				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
				<div class="tab-category">
                    <strong>最新回复</strong>
                </div>
						<div class="panel-body">
							        <div class="line"></div>
							        <ul id="showComment" class="commentList mt-50">
							            <li id="error" style="font-size:15px"></li>
							        </ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
                    <!--图片-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>扫我关注</strong></a>
            </div>
            <div class="tab-category-item">
                <img src="temp/gg.png" alt="图片" style="width: 265px;">
            </div>
        </div>
                    
                </div>
			</div>
	
</section>
<footer class="footer mt-20">
		<p>Copyright &copy;2019 All Rights Reserved. <br>
			<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">豫ICP备17086542号</a><br>
		</p>
</footer>
<script type="text/javascript" src="plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
</body>
</html>
