<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>在线答题考试系统</title>

<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="css/test.css" rel="stylesheet" type="text/css" />
<style>
.hasBeenAnswer {
	background: #5d9cec;
	color:#fff;
}
</style>

</head>
<body>
<input type="hidden" th:value="${ID}" id="id">
<div class="main">
	<!--nr start-->
	<div class="test_main">
		<div class="nr_left">
			<div class="test">
				<form action="" method="post">
					<div class="test_title">
						<p class="test_time">
							<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
						</p>
						<font><input type="button" name="test_jiaojuan" value="交卷"></font>
					</div>
					
						<div class="test_content">
							<div class="test_content_title">
								<h2>单选题</h2>
								<p id="exe_head">
									
								</p>
							</div>
						</div>
						<div class="test_content_nr">
							<ul>
								
									<li id="qu_0_0">
										<div class="test_content_nr_tt">
											<i>1</i><span>（2分）</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font><b class="icon iconfont"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_1"
															/>
														
														
														<label for="0_answer_1_option_1">
															A.
															<p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_2"
															/>
														
														
														<label for="0_answer_1_option_2">
															B.
															<p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_3"
															/>
														
														
														<label for="0_answer_1_option_3">
															C.
															<p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_4"
															/>
														
														
														<label for="0_answer_1_option_4">
															D.
															<p class="ue" style="display: inline;">后台启动流程推进</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_0_1">
										<div class="test_content_nr_tt">
											<i>2</i><span>（2分）</span><font>在营销系统中查询客户有无欠费、余额及抄表数据接待客户时应做到哪些最基本的礼仪？</font><b class="icon iconfont"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_1"
															/>
														
														
														<label for="0_answer_2_option_1">
															A.
															<p class="ue" style="display: inline;">起身、微笑、示坐、问候客户</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_2"
															/>
														
														
														<label for="0_answer_2_option_2">
															B.
															<p class="ue" style="display: inline;">坐着，问候客户</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_3"
															/>
														
														
														<label for="0_answer_2_option_3">
															C.
															<p class="ue" style="display: inline;">坐着，问候客户</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_4"
															/>
														
														
														<label for="0_answer_2_option_4">
															D.
															<p class="ue" style="display: inline;">请问需要办理什么业务</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_0_2">
										<div class="test_content_nr_tt">
											<i>3</i><span>（2分）</span><font>请在下列选项中选择正确进入电力营销系统网址</font><b class="icon iconfont"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_1"
															/>
														
														
														<label for="0_answer_3_option_1">
															A.
															<p class="ue" style="display: inline;">http://10.113.225.24:83/epm/static/logon/logon.jsp</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_2"
															/>
														
														
														<label for="0_answer_3_option_2">
															B.
															<p class="ue" style="display: inline;">http://10.113.255.24:83/epm/static/logon/logon.jsp</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_3"
															/>
														
														
														<label for="0_answer_3_option_3">
															C.
															<p class="ue" style="display: inline;">http://10.113.255.24:81/epm/static/logon/logon.jsphttp://10.113.245.24:81/epm/static/logon/logon.jsp</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_0_3">
										<div class="test_content_nr_tt">
											<i>4</i><span>（2分）</span><font>如何在电力营销系统查询出客户的是否有余额</font><b class="icon iconfont"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_1"
															/>
														
														
														<label for="0_answer_4_option_1">
															A.
															<p class="ue" style="display: inline;">在综合查询下的电量电费查询中进行查询</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_2"
															/>
														
														
														<label for="0_answer_4_option_2">
															B.
															<p class="ue" style="display: inline;">在综合查询下的抄表信息查询中点击抄表数据进行查询</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_3"
															/>
														
														
														<label for="0_answer_4_option_3">
															C.
															<p class="ue" style="display: inline;">在收费管理下的综合查询中点击欠费查询进行查询</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_4"
															/>
														
														
														<label for="0_answer_4_option_4">
															D.
															<p class="ue" style="display: inline;">在收费管理下的坐收交费中进行查询</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
									
							</ul>
						</div>
				</form>
			</div>

		</div>
		<div class="nr_right">
			<div class="nr_rt_main">
				<div class="rt_nr1">
					<div class="rt_nr1_title">
						<h1>
							<i class="icon iconfont">&#xe692;</i>答题卡
						</h1>
						<p class="test_time">
							<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
						</p>
					</div>
					
						<div class="rt_content">
							<div class="rt_content_tt">
								<h2>单选题</h2>
							</div>
							<div class="rt_content_nr answerSheet">
								<ul id="exe_foot">
								</ul>
							</div>
						</div>
					
						<div class="rt_content">
							<div class="rt_content_tt">
								<h2></h2>
								<p>
									<span></span><i class="content_lit"></i><span></span>
								</p>
							</div>
							<div class="rt_content_nr answerSheet">
							</div>
						</div>
					
				</div>

			</div>
		</div>
	</div>
	<!--nr end-->
	<div class="foot"></div>
</div>

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.easy-pie-chart.js"></script>
<script src="js/loadUserExercise.js"></script>
<!--时间js-->
<script src="js/jquery.countdown.js"></script>
<script>
	window.jQuery(function($) {
		"use strict";
		
		$('time').countDown({
			with_separators : false
		});
		$('.alt-1').countDown({
			css_class : 'countdown-alt-1'
		});
		$('.alt-2').countDown({
			css_class : 'countdown-alt-2'
		});
		
	});
	
	
	$(function() {
		$('li.option label').click(function() {
		debugger;
			var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
			var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
			// 设置已答题
			if(!cardLi.hasClass('hasBeenAnswer')){
				cardLi.addClass('hasBeenAnswer');
			}
			
		});
	});
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：360、FireFox、Chrome. 不支持IE8及以下浏览器。</p>
</div>
</body>
</html>
