<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>面试技巧</title> 
  <link rel="stylesheet" type="text/css" href="css/basic.css" /> 
  <link rel="stylesheet" type="text/css" href="css/inner.css" />
  <script type="text/javascript" src="js/userOut.js"></script>
  <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/loadSkill.js"></script>
 </head> 
 <body> 
 <header> 
  <div class="header"> 
   <div class="top"> 
    <div class="top_con"> 
     <div class="tel">
     <a style="color: currentColor;" th:if="${session.USER != null}" 
     th:text="'用户：'+${session.USER.userName}" href="userlogin.html"></a>
     <img style="margin-bottom: -6px;margin-left:8px;" alt="注销" 
     th:if="${session.USER != null}" src="images/out.jpg" onclick="loginOut()">
      <a style="color: currentColor;" th:if="${session.USER == null}" href="userlogin.html">登录/注册</a>
     </div> 
     <div class="mail">
      咨询邮箱：sales@123.cn
     </div> 
     <div class="clear"></div> 
    </div> 
   </div> 
   <div class="head_bg"> 
    <div class="head"> 
     <div class="logo fl">
      <h1><a href="index.html"><img src="images/images/logo.png" style="width: 190px;height: 130px;margin-top: -42px;" /></a></h1>
     </div> 
     <div class="menu fr"> 
      <nav> 
       <ul> 
        <li><a id="menu1" href="/">网站首页</a></li> 
         <li><a id="menu2" href="about">关于我们</a></li>
         <li><a id="menu3" href="userExercise">笔试练习</a></li> 
         <li><a id="menu4" href="skill">面试技巧</a></li> 
         <li><a id="menu5" href="school">校园招聘</a></li> 
        <li><a id="menu6" href="talk">讨论交流</a></li>
       </ul> 
       <div class="clear"></div> 
      </nav> 
     </div> 
    </div> 
   </div> 
  </div> 
 </header> 
  <script type="text/javascript">document.getElementById("menu4").className="a1";</script> 
  <div class="container"> 
   <div class="news_banner"></div> 
   <div id="content" class="content">
   </div>
   <div id="moreBlog" style="text-align: center;height: 30px;line-height: 30px;font-size: 16px;background-color: antiquewhite;">
      <a href="javascript:;" onclick="loadMore();">点击加载更多</a>
   </div>
   <div id="nomore"></div>
  </div>  
  <footer> 
   <div class="footer2" id="footer">
    <div class="footer_con"> 
     <div class="footer_dl"> 
      <dl> 
       <dt>
        关于
       </dt> 
       <dd>
        <a href="about.html">关于我们</a>
       </dd> 
       <dd>
        <a href="service.html">服务项目</a>
       </dd> 
       <dd>
        <a href="contact.html">联系我们</a>
       </dd> 
       <dd>
        <a href="/contact/pay.html">付款方式</a>
       </dd> 
      </dl> 
      <dl> 
       <dt>
        经典案例
       </dt> 
       <dd>
        <a href="/cases/list-3-1.html">企业网站</a>
       </dd> 
       <dd>
        <a href="/cases/list-8-1.html">旅游网站</a>
       </dd> 
       <dd>
        <a href="/cases/list-9-1.html">购物商城</a>
       </dd> 
       <dd>
        <a href="/cases/list-10-1.html">外贸网站</a>
       </dd> 
      </dl> 
      <dl> 
       <dt>
        服务范围
       </dt> 
       <dd>
        <a href="service.html">空间域名</a>
       </dd> 
       <dd>
        <a href="service.html">网站策划</a>
       </dd> 
       <dd>
        <a href="service.html">网站建设</a>
       </dd> 
       <dd>
        <a href="service.html">手机网站</a>
       </dd> 
      </dl> 
      <dl class="footer_dl2" style="width:340px;"> 
       <dt>
        联系我们
       </dt> 
       <dd>
        <img src="images/images/xinlang.png" alt="网络官方微博" />
        <a href="http://weibo.com/235324" rel="noFollow" target="_blank">官方微博: http://weibo.com/235324</a>
       </dd> 
       <dd>
        <img src="images/images/mail.png" alt="网站建设咨询邮箱" />
        <a href="mailto:sales@235324.cn">咨询邮箱：sales@235324.cn</a>
       </dd> 
       <dd>
        <img src="images/images/tel.png" alt="网站建设咨询电话" />咨询热线：0755-8268 9595
       </dd> 
       <dd>
        <img src="images/images/weixin.png" alt="网站建设" />微信：网站建设
       </dd> 
      </dl>
      <div class="clear"></div> 
     </div> 
    </div> 
   </div>  
   <div class="bottom"> 
    <div class="bottom_con">
     @2019 版权所有 华北水利水电大学 地址：河南省郑州市金水区  电话：0755-234235432
    </div> 
   </div> 
  </footer>
 </body>
</html>