<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
<title>帖子详情</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />
<link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="plugin/wangEditor/css/wangEditor.min.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="js/loadJPostDetail.js"></script>
<script type="text/javascript" src="js/submitReply.js"></script>
</head>
<body>
<input id="userId" type="hidden" th:if="${session.USER != null}" th:value="${session.USER.id}">
<input id="pid" type="hidden" th:if="${PID != null}" th:value="${PID}">
<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="talk" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  
  <span class="c-gray">文章</span> <span class="c-gray en">&gt;</span>  
  <span id="title" class="c-gray"></span></div>
</nav>
<section class="container pt-20">	
	<div class="row w_main_row">				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div id="content" class="panel-body pt-10 pb-10">	
						</div>
					</div>
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
                    <strong>评论区</strong>
            </div>
						<div class="panel-body">
							        <!--用于评论-->
							        <div class="mt-20" id="ct">
							            <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
							            <textarea id="textarea1" name="comment" style="height:200px;"> </textarea>
							            <div class="text-r mt-10">
							                <button onclick="pubComment()" class="btn btn-primary radius" > 发表评论</button>
							            </div>
							        </div>
							        <div class="line"></div>
							        <ul id="showComment" class="commentList mt-50">
							            <li id="error" style="font-size:15px"></li>
							        </ul>
							        <!--用于回复-->
							        <div class="comment hidden mt-20">
							            <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
							            <textarea id="replyContent" class="textarea" style="height:100px;" > </textarea>
							            <button onclick="submitReply();" type="button" class="btn btn-primary radius mt-10">回复</button>
							            <a class="cancelReply f-r mt-10">取消回复</a>
							        </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>扫我关注</strong></a>
			</div>
			<div class="tab-category-item">
				<img data-original="temp/gg.png" class="img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
<footer class="footer mt-20">
		<p>Copyright &copy;2019 All Rights Reserved. <br>
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">豫ICP备17086542号</a><br>
        </p>
</footer>
<script type="text/javascript" src="plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="plugin/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
    		$("img.lazyload").lazyload({failurelimit : 3});
    	
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '表情', data: 'plugin/wangEditor/emotions1.data'}, 'default2': { title: '心情', data: 'plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: 'plugin/wangEditor/emotions2.data'}};
        editor1.create();

        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });
    $(function() {
        $('#showComment').on('click', '#reply', function() {//动态添加元素的click事件
        pId = $(this).attr("name");
        $(this).parents(".commentList").find(".cancelReply").trigger("click");
        $(this).parent(".comment-body").append($(".comment").clone(true));
        $(this).parent(".comment-body").find(".comment").removeClass("hidden");
        $(this).hide();
        });
    });
</script>
</body>
</html>
