<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，唯一特性 -->
<mapper namespace="com.lq.job.dao.CommentMapper">
  <resultMap type="CommentVo" id="BaseCommentVo">
    <id column="comment_id" jdbcType="INTEGER" property="comment_id"/>
    <result column="post_id" jdbcType="INTEGER" property="post_id"/>
    <result column="username" jdbcType="VARCHAR" property="commenter"/>
    <result column="comment_content" jdbcType="VARCHAR" property="comment_content"/>
    <result column="comment_time" jdbcType="DATE" property="comment_time"/>
    <result column="comment_note" jdbcType="INTEGER" property="comment_note"/>
  </resultMap>
  <insert id="insertComment" parameterType="Comment">
    INSERT INTO comment(post_id, commenter_id, comment_content, comment_time, comment_note, comment_flag)
    VALUES(#{post_id}, #{commenter_id}, #{comment_content}, #{comment_time}, #{comment_note}, #{comment_flag})
  </insert>
  <select id="getAllComment" parameterType="Integer" resultMap="BaseCommentVo">
    SELECT c.comment_id, c.commenter_id, c.comment_content, u.username, 
    DATE_FORMAT(c.comment_time, '%Y-%m-%d %H:%i:%S') comment_time, c.comment_note
    FROM
    comment c INNER JOIN user u ON c.commenter_id = u.id 
    WHERE c.post_id = #{post_id} ORDER BY c.comment_id DESC
  </select>
  <update id="addComNoteById" parameterType="Integer">
    UPDATE comment SET comment_note = comment_note + 1 WHERE comment_id = #{comment_id}
  </update>
  <select id="getReplyComment" parameterType="Integer" resultMap="BaseCommentVo">
    SELECT c.comment_id, c.commenter_id, c.comment_content, u.username, 
    DATE_FORMAT(c.comment_time, '%Y-%m-%d %H:%i:%S') comment_time, c.comment_note
    FROM
    comment c INNER JOIN user u ON c.commenter_id = u.id 
    LEFT JOIN job_post j ON c.post_id = j.post_id
    WHERE j.writer_id = #{writer_id} ORDER BY c.comment_id DESC
  </select>
  <select id="getReplyComNum" parameterType="Integer" resultType="Integer">
    SELECT count(c.commenter_id) comnum
    FROM
    comment c INNER JOIN user u ON c.commenter_id = u.id 
    LEFT JOIN job_post j ON c.post_id = j.post_id
    WHERE j.writer_id = #{writer_id} and c.comment_flag=1
  </select>
</mapper>