<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间，唯一特性 -->
<mapper namespace="com.lq.job.dao.JPostMapper">
  <insert id="insertJPost" parameterType="JPost">
    INSERT INTO job_post(post_title, writer_id, post_content, pub_time, post_heat, post_comments_num,post_note)
    VALUES(#{post_title}, #{writer_id}, #{post_content}, #{pub_time}, #{post_heat}, #{post_comments_num}, #{post_note})
  </insert>
</mapper>